/*Custom Grid System*/

.rp-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

[class*=rp-width] {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.rp-grid>* {
  margin: 0;
}

.rp-grid>* {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

[class*=rp-child-width]>* {
  box-sizing: border-box;
  width: 100%
}

.rp-child-width-1-2>* {
  width: 50%
}

.rp-child-width-1-3>* {
  width: calc(100% * 1 / 3.001);
}

.rp-child-width-1-4>* {
  width: 25%
}

.rp-child-width-1-5>* {
  width: 20%
}

.rp-child-width-1-6>* {
  width: calc(100% * 1 / 6.001);
}

.rp-child-width-auto>* {
  width: auto;
}

.rp-child-width-expand>:not([class*=rp-width]) {
  flex: 1;
  min-width: 1px;
}

@media (min-width:640px) {
  .rp-child-width-1-1\@s>* {
    width: 100%
  }

  .rp-child-width-1-2\@s>* {
    width: 50%
  }

  .rp-child-width-1-3\@s>* {
    width: calc(100% * 1 / 3.001);
  }

  .rp-child-width-1-4\@s>* {
    width: 25%
  }

  .rp-child-width-1-5\@s>* {
    width: 20%
  }

  .rp-child-width-1-6\@s>* {
    width: calc(100% * 1 / 6.001);
  }

  .rp-child-width-auto\@s>* {
    width: auto;
  }

  .rp-child-width-expand\@s>:not([class*=rp-width]) {
    flex: 1;
    min-width: 1px;
  }
}

@media (min-width:960px) {
  .rp-child-width-1-1\@m>* {
    width: 100%
  }

  .rp-child-width-1-2\@m>* {
    width: 50%
  }

  .rp-child-width-1-3\@m>* {
    width: calc(100% * 1 / 3.001);
  }

  .rp-child-width-1-4\@m>* {
    width: 25%
  }

  .rp-child-width-1-5\@m>* {
    width: 20%
  }

  .rp-child-width-1-6\@m>* {
    width: calc(100% * 1 / 6.001);
  }

  .rp-child-width-auto\@m>* {
    width: auto;
  }

  .rp-child-width-expand\@m>:not([class*=rp-width]) {
    flex: 1;
    min-width: 1px;
  }
}

@media (min-width:1200px) {
  .rp-child-width-1-1\@l>* {
    width: 100%
  }

  .rp-child-width-1-2\@l>* {
    width: 50%
  }

  .rp-child-width-1-3\@l>* {
    width: calc(100% * 1 / 3.001);
  }

  .rp-child-width-1-4\@l>* {
    width: 25%
  }

  .rp-child-width-1-5\@l>* {
    width: 20%
  }

  .rp-child-width-1-6\@l>* {
    width: calc(100% * 1 / 6.001);
  }

  .rp-child-width-auto\@l>* {
    width: auto;
  }

  .rp-child-width-expand\@l>:not([class*=rp-width]) {
    flex: 1;
    min-width: 1px;
  }
}

@media (min-width:1600px) {
  .rp-child-width-1-1\@xl>* {
    width: 100%
  }

  .rp-child-width-1-2\@xl>* {
    width: 50%
  }

  .rp-child-width-1-3\@xl>* {
    width: calc(100% * 1 / 3.001);
  }

  .rp-child-width-1-4\@xl>* {
    width: 25%
  }

  .rp-child-width-1-5\@xl>* {
    width: 20%
  }

  .rp-child-width-1-6\@xl>* {
    width: calc(100% * 1 / 6.001);
  }

  .rp-child-width-auto\@xl>* {
    width: auto;
  }

  .rp-child-width-expand\@xl>:not([class*=rp-width]) {
    flex: 1;
    min-width: 1px;
  }
}

.rp-width-1-2 {
  width: 50%
}

.rp-width-1-3 {
  width: calc(100% * 1 / 3.001);
}

.rp-width-2-3 {
  width: calc(100% * 2 / 3.001);
}

.rp-width-1-4 {
  width: 25%
}

.rp-width-3-4 {
  width: 75%
}

.rp-width-1-5 {
  width: 20%
}

.rp-width-2-5 {
  width: 40%
}

.rp-width-3-5 {
  width: 60%
}

.rp-width-4-5 {
  width: 80%
}

.rp-width-1-6 {
  width: calc(100% * 1 / 6.001);
}

.rp-width-5-6 {
  width: calc(100% * 5 / 6.001);
}

.rp-width-small {
  width: 150px;
}

.rp-width-medium {
  width: 300px;
}

.rp-width-large {
  width: 450px;
}

.rp-width-xlarge {
  width: 600px;
}

.rp-width-xxlarge {
  width: 750px;
}

.rp-width-auto {
  width: auto;
}

.rp-width-expand {
  flex: 1;
  min-width: 1px;
}

@media (min-width:640px) {
  .rp-width-1-1\@s {
    width: 100%
  }

  .rp-width-1-2\@s {
    width: 50%
  }

  .rp-width-1-3\@s {
    width: calc(100% * 1 / 3.001);
  }

  .rp-width-2-3\@s {
    width: calc(100% * 2 / 3.001);
  }

  .rp-width-1-4\@s {
    width: 25%
  }

  .rp-width-3-4\@s {
    width: 75%
  }

  .rp-width-1-5\@s {
    width: 20%
  }

  .rp-width-2-5\@s {
    width: 40%
  }

  .rp-width-3-5\@s {
    width: 60%
  }

  .rp-width-4-5\@s {
    width: 80%
  }

  .rp-width-1-6\@s {
    width: calc(100% * 1 / 6.001);
  }

  .rp-width-5-6\@s {
    width: calc(100% * 5 / 6.001);
  }

  .rp-width-small\@s {
    width: 150px;
  }

  .rp-width-medium\@s {
    width: 300px;
  }

  .rp-width-large\@s {
    width: 450px;
  }

  .rp-width-xlarge\@s {
    width: 600px;
  }

  .rp-width-xxlarge\@s {
    width: 750px;
  }

  .rp-width-auto\@s {
    width: auto;
  }

  .rp-width-expand\@s {
    flex: 1;
    min-width: 1px;
  }
}

@media (min-width:960px) {
  .rp-width-1-1\@m {
    width: 100%
  }

  .rp-width-1-2\@m {
    width: 50%
  }

  .rp-width-1-3\@m {
    width: calc(100% * 1 / 3.001);
  }

  .rp-width-2-3\@m {
    width: calc(100% * 2 / 3.001);
  }

  .rp-width-1-4\@m {
    width: 25%
  }

  .rp-width-3-4\@m {
    width: 75%
  }

  .rp-width-1-5\@m {
    width: 20%
  }

  .rp-width-2-5\@m {
    width: 40%
  }

  .rp-width-3-5\@m {
    width: 60%
  }

  .rp-width-4-5\@m {
    width: 80%
  }

  .rp-width-1-6\@m {
    width: calc(100% * 1 / 6.001);
  }

  .rp-width-5-6\@m {
    width: calc(100% * 5 / 6.001);
  }

  .rp-width-small\@m {
    width: 150px;
  }

  .rp-width-medium\@m {
    width: 300px;
  }

  .rp-width-large\@m {
    width: 450px;
  }

  .rp-width-xlarge\@m {
    width: 600px;
  }

  .rp-width-xxlarge\@m {
    width: 750px;
  }

  .rp-width-auto\@m {
    width: auto;
  }

  .rp-width-expand\@m {
    flex: 1;
    min-width: 1px;
  }
}

@media (min-width:1200px) {
  .rp-width-1-1\@l {
    width: 100%
  }

  .rp-width-1-2\@l {
    width: 50%
  }

  .rp-width-1-3\@l {
    width: calc(100% * 1 / 3.001);
  }

  .rp-width-2-3\@l {
    width: calc(100% * 2 / 3.001);
  }

  .rp-width-1-4\@l {
    width: 25%
  }

  .rp-width-3-4\@l {
    width: 75%
  }

  .rp-width-1-5\@l {
    width: 20%
  }

  .rp-width-2-5\@l {
    width: 40%
  }

  .rp-width-3-5\@l {
    width: 60%
  }

  .rp-width-4-5\@l {
    width: 80%
  }

  .rp-width-1-6\@l {
    width: calc(100% * 1 / 6.001);
  }

  .rp-width-5-6\@l {
    width: calc(100% * 5 / 6.001);
  }

  .rp-width-small\@l {
    width: 150px;
  }

  .rp-width-medium\@l {
    width: 300px;
  }

  .rp-width-large\@l {
    width: 450px;
  }

  .rp-width-xlarge\@l {
    width: 600px;
  }

  .rp-width-xxlarge\@l {
    width: 750px;
  }

  .rp-width-auto\@l {
    width: auto;
  }

  .rp-width-expand\@l {
    flex: 1;
    min-width: 1px;
  }
}

@media (min-width:1600px) {
  .rp-width-1-1\@xl {
    width: 100%
  }

  .rp-width-1-2\@xl {
    width: 50%
  }

  .rp-width-1-3\@xl {
    width: calc(100% * 1 / 3.001);
  }

  .rp-width-2-3\@xl {
    width: calc(100% * 2 / 3.001);
  }

  .rp-width-1-4\@xl {
    width: 25%
  }

  .rp-width-3-4\@xl {
    width: 75%
  }

  .rp-width-1-5\@xl {
    width: 20%
  }

  .rp-width-2-5\@xl {
    width: 40%
  }

  .rp-width-3-5\@xl {
    width: 60%
  }

  .rp-width-4-5\@xl {
    width: 80%
  }

  .rp-width-1-6\@xl {
    width: calc(100% * 1 / 6.001);
  }

  .rp-width-5-6\@xl {
    width: calc(100% * 5 / 6.001);
  }

  .rp-width-small\@xl {
    width: 150px;
  }

  .rp-width-medium\@xl {
    width: 300px;
  }

  .rp-width-large\@xl {
    width: 450px;
  }

  .rp-width-xlarge\@xl {
    width: 600px;
  }

  .rp-width-xxlarge\@xl {
    width: 750px;
  }

  .rp-width-auto\@xl {
    width: auto;
  }

  .rp-width-expand\@xl {
    flex: 1;
    min-width: 1px;
  }
}