.page-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
  width: 100%;
  padding: 13.5px 0;
}

.rp-header {
  &__telegram {
    margin-left: 40px;
  }

  &__logo {
    margin-right: 40px;
    display: inherit;

    img {
      height: 100%;
      width: 105px;
      object-position: center left;
    }
  }

  &__search {
    max-width: 400px;
  }
}

.navmenu {
  &__item {
    display: inline-block;
    margin-left: 40px;
  }

  &__link {
    font-size: 15px;
    font-weight: 500;
  }
}

.navbar-form {
  width: 100%;
  height: 43px;

  &__btn {
    cursor: pointer;
    display: flex;

    &:hover {
      svg {
        fill: red;
      }
    }

    svg {
      width: 16px;
      height: 16px;
      fill: #2B2B2B;
      display: block;
    }
  }

  .hdn {
    display: none;
  }
}

.rp-tg {
  &__btn {
    min-width: 130px;
    height: 43px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: $blue;

    span {
      font-weight: 500;
      color: $color-white;
      margin-right: 10px;
    }

    svg {
      width: 23px;
      height: 18px;
    }
  }
}

.ml-auto {
  margin-left: auto;
}

/**Main Styles**/

main {
  flex: 1;
}

.reklama {
  &-nav {
    margin-top: 5px;

    &__item {
      display: inline-block;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      font-size: 12px;
      color: $gray1;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  img {
    object-fit: cover;
    object-position: center;
    vertical-align: top;
  }

  &-top {
    height: 100%;
    width: 100%;
    margin: 20px 0;
  }

  &-center {
    height: 100%;
    width: 100%;
    margin: 35px 0;
  }
}

.statpanel {
  border: 1px solid #D9D9D9;
  margin-bottom: 30px;

  &__item {
    display: flex;
    margin: 15px 20px 13px;
    padding-top: 2px;

    span {
      display: inline-block;
    }
  }

  &__mark {
    svg {
      fill: $gray2;
      width: 8px;
      height: 20px;
    }
  }

  &__value {
    font-size: 15px;
    color: $color-black;
    line-height: 19px;
    margin: 0 5px;
    font-weight: 500;
  }

  &__status {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__corona {
    background-color: $gray3;
  }
}

.rp-corona {
  padding: 8px 15px;

  &__title {
    margin-right: 25px;

    img {
      margin-right: 15px;
      width: 25px;
      height: 25px;
    }
  }

  &__info {
    h6 {
      clear: both;
      font-weight: 700;
    }

    span {
      font-style: italic;
      font-weight: normal;
      font-size: 9px;
      line-height: 13px;
    }
  }
}

.rp-stat {
  &__item {
    margin: 0 25px;

    span {
      font-size: 10px;
      line-height: 11px;
      color: $gray2;
    }
  }

  &--count {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
}

/**Footer Styles**/

footer {
  background-color: $gray;
  padding: 28px 0;
  width: 100%;
}

.ft {
  &__copyright {
    max-width: 500px;

    p {
      font-weight: 300;
      font-size: 12px;
      font-family: $font-main;
      color: $gray1;
      line-height: 18px;
    }
  }
}

.plus18 {
  margin-right: 45px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: $gray1;
  color: $color-white;
  font-weight: 700;
  font-size: 22px;
  position: relative;
  padding-right: 8px;

  span {
    position: absolute;
    top: 12px;
    right: 6px;
    font-size: 20px;
  }
}

.rp-news {
  &--news {
    width: calc(100% - 296px);
  }

  &__intro {
    .rp-news--title {
      line-height: 30px;
    }

    h2.rp-news--title {
      line-height: 26px;
    }
  }

  &-video {
    position: relative;

    svg {
      position: absolute;
      left: 15px;
      bottom: 15px;
      width: 32px;
      height: 32px;
    }
  }

  &-link {

    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;

    img {
      border-radius: 3px;
      display: block;
      transition: 1s ease;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &--intro {
      height: 340px;
    }

    &--small {
      width: 106px;
      height: 80px;
      overflow: hidden;
      margin-right: 15px;
      align-self: flex-start;
      display: flex;
      padding-bottom: 0;
    }
  }

  &--content {
    padding-top: 10px;
  }

  &--date {
    font-size: 12px;
    color: $gray2;
    margin-bottom: 5px;
  }

  &--title {
    font-weight: 500;
  }

  &__list {
    width: calc(100% - 504px);
    padding: 0 15px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 35px;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content {
    flex: 1;
  }
}

.divider {
  border: 1px solid $gray4;
  height: 2px;
  width: 100%;
  margin: 30px 0;
  clear: both;
}

.rp {
  &-title {
    margin-bottom: 20px;
  }

  &-seemore {
    font-size: 16px;
    font-weight: 500;
  }

  &-sidebar {
    &--right {
      width: 296px;
      padding-left: 15px;

      .rp-news {
        &--content {
          padding-top: 0;
        }
      }
    }

    .rp {
      &-is-item {
        .rp-card {
          margin-bottom: 15px;
        }
      }

      &-news__item {
        margin-bottom: 25px;
      }
    }

  }

  &-row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  &-width {
    &-middle {
      .rp-news-link {
        padding-bottom: 65.5%;
      }
    }

    &-smal {
      .rp-news-link {
        padding-bottom: 56%;
      }
    }
  }

  &-is-item {
    .rp-card {
      margin-bottom: 20px;
    }
  }

  &-bg-section {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: $gray;
  }

  &-poll {
    text-align: center;
    padding-bottom: 45px;

    &--title {
      color: $color-black;
      font-size: 24px;
      font-weight: 500;
      line-height: 33.6px;
      margin-bottom: 30px;
    }

    &--item {
      margin-right: 35px;
      margin-bottom: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-main {
    padding: 20px 0 30px;

    &-body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &-innerpage {
    padding-left: 100px;
    padding-right: 100px;
  }

  &-category {
    background-color: $color-main;
    color: $color-white;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding: 6px 12px;
    border-radius: 3px;
    margin-right: 15px;
  }

  &-page-title {
    font-weight: 700;
    line-height: 36.4px;
    margin-bottom: 15px;
  }

  &-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 25px;
  }
}

.exclusive {
  background-color: $yellow;
  border-radius: 3px;
  padding: 5px 10px;
  color: $color-white;
  text-transform: uppercase;
  margin-right: 10px;
}

.color-blue {
  color: $color-main;
}

@media (max-width: 1300px) {
  .rp {
    &-innerpage {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 1200px) {
  .ft {
    &-part {
      justify-content: center;

      &--2 {
        .grid-row {
          justify-content: center;
          margin-top: 15px;
        }
      }
    }
  }

  .rp-stats {
    .grid-row {
      justify-content: center;
    }
  }

  .statpanel__corona {
    width: 100%;
  }
}

@media (max-width: 782px) {
  .rp {
    &-hotnews {
      &--content {
        width: 100%;
      }
    }
  }

  .dn {
    display: block;
  }

  .statpanel {
    margin-bottom: 15px;
  }

  .rp-corona {
    margin-bottom: 20px;
    text-align: center;

    &__title {
      margin: 0 0 10px;
    }
  }
}

@media (max-width: 960px) {
  .reklama {
    &-sidebar {
      display: none;
    }
  }
}

@media (max-width: 640px) {
  .rp-news {
    &__item {
      display: block;
    }

    &-link {
      padding-bottom: 30% !important;
      height: auto;
      width: 100%;
    }

    &__content {
      padding-top: 10px;
    }
  }
}

@media (max-width: 600px) {
  .ft {
    &-part {
      display: block;
      text-align: center;
    }

    .plus18 {
      width: 36px;
      height: 36px;
      font-size: 14px;
      margin: 0 auto 10px;

      span {
        top: 9px;
        right: 6px;
        font-size: 10px;
      }
    }

    .navmenu {
      &__item {
        display: block;
        margin: 0 0 10px;
      }
    }
  }
}

@media (max-width: 400px) {
  .rp-poll {
    .grid-row {
      display: block;
    }

    &--item {
      text-align: left;
      margin-right: 0;
    }
  }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid $gray5;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $color-main;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: .5rem 3.3rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &-default {
    border: 2px solid $gray4;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;

  &__list {
    flex-wrap: wrap;
    display: flex;
  }

  &__item {
    display: flex;

    margin-right: 25px;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    svg {
      width: 14px;
      height: 14px;
    }
  }
}

blockquote {
  border-left: 2px solid $color-main;
  padding-left: 24px;
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  margin: 0 0 20px;
}

article {
  p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 1.5rem;
  }

  a {
    color: $color-main;
    font-weight: 500;
  }
}