{% extends "layout/layout.html" %}
{% block content %}
<div class="rp-container">
  <!--Start Reklama-->
  <section class="reklama reklama-top">
    <img src="img/banner/banner-top.jpg" alt="" />
  </section>
  <!--Ends Reklama-->

  <!--Start Statistics-->
  {% include 'partials/stats.html' %}
  <!--Ends Statistics-->

  <!--Start Popular News-->
  <section class="rp-hotnews">
    <div class="rp-title">
      <h1 class="rp-pagetitle">Популярные новости</h1>
    </div>
    <div class="rp-hotnews__main rp-grid">
      {%- for item in [
        { 
          title: "Фондсервисбанк переименован в Роскосмосбанк миллионы россиян скрывают доходы", 
          link: "page.html",
          date: "14:20, 23 февраля",
          image: "img03"
        },
        { 
          title: "Пользователи все чаще выбирают кредиты на Банки.ру", 
          link: "page.html",
          date: "14:20, 23 февраля",
          image: "img08"
        },
        { 
          title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
          link: "page.html",
          date: "14:20, 23 февраля",
          image: "img05"
        },
        { 
          title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
          link: "page.html",
          date: "14:20, 23 февраля",
          image: "img06"
        },
        { 
          title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
          link: "page.html",
          date: "14:20, 23 февраля",
          image: "img04"
        },
        { 
          title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
          link: "page.html",
          date: "14:20, 23 февраля",
          image: "img07"
        }
      ] %}
      <div class="rp-width-1-1 rp-width-1-2@s rp-width-1-3@m rp-width-1-4@l rp-width-middle rp-is-item">
        <div class="rp-card">
          <div class="rp-card--image">
            <a href="{{ item.link }}" class="rp-news-link">
              <img src="img/news/{{ item.image }}.jpg" alt="" />
            </a>
          </div>
          <div class="rp-card--body rp-news--content">
            <div class="rp-news--date">{{ item.date }}</div>
            <h5 class="rp-news--title">
              <a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
            </h5>
          </div>
        </div>
      </div>
      {%- endfor %}
    </div>
    <!--Start Reklama-->
    {% include 'partials/pagination.html' %}
    <!--Ends Reklama-->
  </section>
  <!--Ends Popular News-->
</div>
{% endblock %}