{% extends "layout/layout.html" %}
{% block content %}
<div class="rp-container">
  <!--Start Reklama-->
  {% include 'partials/reklama/reklama-top.html' %}
  <!--Ends Reklama-->

  <!--Start Statistics-->
  {% include 'partials/stats.html' %}
  <!--Ends Statistics-->

  <!--Start Main News-->
  <section class="rp-news rp-grid">
    <div class="rp-width-1-1@s rp-width-3-4@m rp-width-3-4@l">
      <div class="rp-grid">
        <div class="rp-news__intro rp-width-1-2@s rp-width-1-2@l rp-is-item">
          <div class="rp-card">
            <div class="rp-card--image">
              <a href="/" class="rp-news-link rp-news-link--intro">
                <img src="img/news/img11.jpg" alt="" />
              </a>
            </div>
            <div class="rp-card--body rp-news--content">
              <div class="rp-news--date">12:00, Сегодня</div>
              <h1 class="rp-news--title">
                <a href="#" title="">Названа самая уязвимая перед коронавирусом категория людей</a>
              </h1>
            </div>
          </div>
        </div>
        <div class="rp-width-1-2@s rp-width-1-2@l rp-is-item rp-news__list">
          <ul class="rp-news--list">
            {%- for item in [
              { title: "Главное за минуту: чиновникам вернули докризисные зарплаты", 
                link: "page.html", 
                date: "14:20, 23 февраля", 
                image: "img01"
              },
              { title: "Фондсервисбанк переименован в Роскосмосбанк миллионы россиян скрывают доходы", 
                link: "page.html", 
                date: "14:20, 23 февраля", 
                image: "img01"
              },
              { title: "Пользователи все чаще выбирают кредиты на Банки.ру", 
                link: "page.html", 
                date: "14:20, 23 февраля", 
                image: "img01"
              },
              { title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
                link: "page.html", 
                date: "14:20, 23 февраля", 
                image: "img01"
              }
            ] %}
            <li class="rp-news__item">
              <a class="rp-news-link rp-news-link--small" href="{{ item.link }}" title="">
                <img src="img/news/{{ item.image }}.jpg" alt="" />
              </a>
              <div class="rp-news__content">
                <div class="rp-news--date">{{ item.date }}</div>
                <h6 class="rp-news__title">
                  <a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
                </h6>
              </div>
            </li>
            {%- endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!--Start Reklama-->
    {% include 'partials/reklama/reklama-right.html' %}
    <!--Ends Reklama-->
  </section>
  <!--Ends Main News-->

  <div class="divider"></div>

  <!--Start Popular News-->
  <section class="rp-grid rp-hotnews">
    <div class="rp-width-1-1@s rp-width-3-4@m rp-width-3-4@l">
      <div class="grid-row grid-row--wrap grid-row--a-c grid-row--j-s rp-title">
        <h1 class="rp-pagetitle">Популярные новости</h1>
        <a href="/" class="rp-seemore color-blue">Смотреть все</a>
      </div>
      <div class="rp-hotnews__main rp-grid">
        {%- for item in [
          { 
            title: "Фондсервисбанк переименован в Роскосмосбанк миллионы россиян скрывают доходы", 
            link: "page.html",
            date: "14:20, 23 февраля",
            image: "img03"
          },
          { 
            title: "Пользователи все чаще выбирают кредиты на Банки.ру", 
            link: "page.html",
            date: "14:20, 23 февраля",
            image: "img08"
          },
          { 
            title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
            link: "page.html",
            date: "14:20, 23 февраля",
            image: "img05"
          },
          { 
            title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
            link: "page.html",
            date: "14:20, 23 февраля",
            image: "img06"
          },
          { 
            title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
            link: "page.html",
            date: "14:20, 23 февраля",
            image: "img04"
          },
          { 
            title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
            link: "page.html",
            date: "14:20, 23 февраля",
            image: "img07"
          }
        ] %}
        <div class="rp-width-1-1 rp-width-1-2@s rp-width-1-2@m rp-width-1-3@l rp-width-middle rp-is-item">
          <div class="rp-card">
            <div class="rp-card--image">
              <a href="{{ item.link }}" class="rp-news-link">
                <img src="img/news/{{ item.image }}.jpg" alt="" />
              </a>
            </div>
            <div class="rp-card--body rp-news--content">
              <div class="rp-news--date">{{ item.date }}</div>
              <h5 class="rp-news--title">
                <a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
              </h5>
            </div>
          </div>
        </div>
        {%- endfor %}
      </div>
    </div>
    <!--Start Sidebar-->
    <aside class="rp-sidebar rp-width-1-4@s rp-width-1-4@l dn-ds">
      {% include 'partials/news/popular-news.html' %}
    </aside>
    <!--Ends Sidebar-->
  </section>
  <!--Ends Popular News-->
</div>

<!--Start Exclusive-->
<section class="rp-exclusive rp-bg-section">
  <div class="rp-container">
    <div class="grid-row grid-row--wrap grid-row--a-c grid-row--j-s rp-title">
      <h1 class="rp-pagetitle">Эксклюзив</h1>
      <a href="/" class="rp-seemore color-blue">Смотреть все</a>
    </div>
    <div class="rp-grid">
      <div class="rp-width-1-2@s rp-width-2-5@m rp-width-2-5@l rp-is-item">
        <div class="rp-card">
          <a href="/" class="rp-news-link rp-news-link--intro">
            <img src="img/news/img12.jpg" alt="" />
          </a>
          <div class="rp-news--content">
            <div class="rp-news--date">12:00, Сегодня</div>
            <h2 class="rp-news--title">
              <a href="#" title="">Проблемные зоны в докладах форума «Стратегии действий»</a>
            </h2>
          </div>
        </div>
      </div>
      <div class="rp-width-1-2@s rp-width-3-5@m rp-width-3-5@l">
        <div class="rp-grid">
          {%- for item in [
            { 
              title: "Фондсервисбанк переименован в Роскосмосбанк миллионы россиян скрывают доходы", 
              link: "page.html",
              date: "14:20, 23 февраля",
              image: "img03"
            },
            { 
              title: "Пользователи все чаще выбирают кредиты на Банки.ру", 
              link: "page.html",
              date: "14:20, 23 февраля",
              image: "img08"
            },
            { 
              title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
              link: "page.html",
              date: "14:20, 23 февраля",
              image: "img05"
            },
            { 
              title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
              link: "page.html",
              date: "14:20, 23 февраля",
              image: "img06"
            },
            { 
              title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
              link: "page.html",
              date: "14:20, 23 февраля",
              image: "img04"
            },
            { 
              title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
              link: "page.html",
              date: "14:20, 23 февраля",
              image: "img07"
            }
          ] %}
          <div class="rp-width-1-1 rp-width-1-2@s rp-width-1-2@m rp-width-1-3@l rp-width-smal rp-is-item">
            <div class="rp-card">
              <div class="rp-card--image">
                <a href="{{ item.link }}" class="rp-news-link">
                  <img src="img/news/{{ item.image }}.jpg" alt="" />
                </a>
              </div>
              <div class="rp-card--body rp-news--content">
                <div class="rp-news--date">{{ item.date }}</div>
                <h6 class="rp-news--title">
                  <a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
                </h6>
              </div>
            </div>
          </div>
          {%- endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!--Start Exclusive-->

<div class="rp-container">
  <!--Start Reklama-->
  {% include 'partials/reklama/reklama-center.html' %}
  <!--Ends Reklama-->

  <!--Start Exclusive-->
  <section class="rp-videonews">
    <div class="rp-container">
      <div class="grid-row grid-row--wrap grid-row--a-c grid-row--j-s rp-title">
        <h1 class="rp-pagetitle">Эксклюзив</h1>
        <a href="/" class="rp-seemore color-blue">Смотреть все</a>
      </div>
      <div class="rp-grid">
        <div class="rp-width-1-2@s rp-width-2-5@m rp-width-2-5@l rp-is-item">
          <div class="rp-card">
            <a href="/" class="rp-news-link rp-news-link--intro rp-news-video">
              <img src="img/news/img10.jpg" alt="" />
              <svg>
                <use href="img/icons.svg#play-circle"></use>
              </svg>
            </a>
            <div class="rp-news--content">
              <div class="rp-news--date">12:00, Сегодня</div>
              <h2 class="rp-news--title">
                <a href="#" title="">Проблемные зоны в докладах форума «Стратегии действий»</a>
              </h2>
            </div>
          </div>
        </div>
        <div class="rp-width-1-2@s rp-width-3-5@m rp-width-3-5@l">
          <div class="rp-grid">
            {%- for item in [
            { 
              title: "Фондсервисбанк переименован в Роскосмосбанк миллионы россиян скрывают доходы", 
              link: "page.html",
              date: "14:20, 23 февраля",
              image: "img03"
            },
            { 
              title: "Пользователи все чаще выбирают кредиты на Банки.ру", 
              link: "page.html",
              date: "14:20, 23 февраля",
              image: "img08"
            },
            { 
              title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
              link: "page.html",
              date: "14:20, 23 февраля",
              image: "img05"
            },
            { 
              title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
              link: "page.html",
              date: "14:20, 23 февраля",
              image: "img06"
            },
            { 
              title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
              link: "page.html",
              date: "14:20, 23 февраля",
              image: "img04"
            },
            { 
              title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
              link: "page.html",
              date: "14:20, 23 февраля",
              image: "img07"
            }
          ] %}
            <div class="rp-width-1-1 rp-width-1-2@s rp-width-1-2@m rp-width-1-3@l rp-width-smal rp-is-item">
              <div class="rp-card">
                <div class="rp-card--image">
                  <a href="{{ item.link }}" class="rp-news-link rp-news-video">
                    <img src="img/news/{{ item.image }}.jpg" alt="" />
                    <svg>
                      <use href="img/icons.svg#play-circle"></use>
                    </svg>
                  </a>
                </div>
                <div class="rp-card--body rp-news--content">
                  <div class="rp-news--date">{{ item.date }}</div>
                  <h6 class="rp-news--title">
                    <a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
                  </h6>
                </div>
              </div>
            </div>
            {%- endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Start Exclusive-->

  <div class="divider"></div>

  <!--Start Corona Poll-->
  <div class="rp-poll">
    <div class="rp-poll--title">У Вас есть знакомые больные коронавирусом?</div>
    <form action="#" class="rp-poll--form">
      <div class="grid-row grid-row--wrap grid-row--a-c grid-row--j-c">
        <div class="rp-poll--item">
          <input type="radio" id="test1" name="radio-group" checked>
          <label for="test1">Не знаю</label>
        </div>
        <div class="rp-poll--item">
          <input type="radio" id="test2" name="radio-group">
          <label for="test2">Не помню</label>
        </div>
        <div class="rp-poll--item">
          <input type="radio" id="test3" name="radio-group">
          <label for="test3">Возможно</label>
        </div>
        <div class="rp-poll--item">
          <input type="radio" id="test4" name="radio-group">
          <label for="test4">Да</label>
        </div>
      </div>
      <button class="btn btn-default mt-1" type="button">Ответить</button>
    </form>
  </div>
  <!--Ends Corona Poll-->

</div>
{% endblock %}