{% extends "layout/layout.html" %}
{% block content %}
<main class="rp-main">
  <div class="rp-container">
    <!--Start Statistics-->
    {% include 'partials/stats.html' %}
    <!--Ends Statistics-->

    <!--Start Main Content-->
    {% include 'partials/news/content.html' %}
    <!--Ends Main Content-->
  </div>

  <!--Start Popular News-->
  <section class="rp-hotnews rp-bg-section mb-3">
    <div class="rp-container">
      <div class="grid-row grid-row--wrap grid-row--a-c grid-row--j-s rp-title">
        <h1 class="rp-pagetitle">Вам также может быть интересно</h1>
        <a href="/" class="rp-seemore color-blue">Смотреть все</a>
      </div>
      <div class="rp-hotnews__main rp-grid">
        {%- for item in [
          { 
            title: "Фондсервисбанк переименован в Роскосмосбанк миллионы россиян скрывают доходы", 
            link: "page.html",
            date: "14:20, 23 февраля",
            image: "img03"
          },
          { 
            title: "Пользователи все чаще выбирают кредиты на Банки.ру", 
            link: "page.html",
            date: "14:20, 23 февраля",
            image: "img08"
          },
          { 
            title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
            link: "page.html",
            date: "14:20, 23 февраля",
            image: "img05"
          },
          { 
            title: "Чиновникам Кремля и Белого дома вернули урезанные из-за кризиса зарплаты", 
            link: "page.html",
            date: "14:20, 23 февраля",
            image: "img06"
          }
        ] %}
        <div class="rp-width-1-1 rp-width-1-2@s rp-width-1-2@m rp-width-1-4@l rp-width-middle rp-is-item">
          <div class="rp-card">
            <div class="rp-card--image">
              <a href="{{ item.link }}" class="rp-news-link">
                <img src="img/news/{{ item.image }}.jpg" alt="" />
              </a>
            </div>
            <div class="rp-card--body rp-news--content">
              <div class="rp-news--date">{{ item.date }}</div>
              <h5 class="rp-news--title">
                <a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
              </h5>
            </div>
          </div>
        </div>
        {%- endfor %}
      </div>
    </div>
  </section>
  <!--Ends Popular News-->

  <div class="rp-container">
    <!--Start Main Content-->
    {% include 'partials/news/content.html' %}
    <!--Ends Main Content-->
  </div>

</main>
{% endblock %}